body {
    text-align: center;
    justify-content: center;
}

#Home {
    justify-content: center;
    text-align: center;
    background-image: url('Ms.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    margin: 0;
}
