body {
    text-align: center;
    justify-content: center;
}

#Home {
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    filter:blur(2px);
    margin: 0;
}
