body {
    text-align: center;
    justify-content: center;
}

#Home {
    justify-content: center;
    text-align: center;
    background-image:;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

